/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background: #f5f5f5;
}

/* Form Container */
.form-container {
  position: relative;
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  border-radius: 10px;
}

/* Logo */
.logo {
  width: 50px;
  height: auto;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Title */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-family: "Arial", sans-serif;
}

/* Description */
.description {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

/* Label */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
  font-family: "Arial", sans-serif;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/* Select Field */
select {
  height: 40px;
}

/* Two Columns */
.two-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* Disabilities*/
.radio-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: #333;
  font-family: "Arial", sans-serif;
  font-size: 14px;
}

/* Disabilities */
.radio-group label {
  font-weight: normal;
  display: flex;
  align-items: center;
}

/* Sub-label */
.sub-label {
  font-size: 10px;
  color: #999;
  font-family: "Arial", sans-serif;
}

/* Disclaimer Section */
.disclaimer {
  margin-top: 20px;
  text-align: center;
  font-style: italic;
  font-size: 12px;
  color: #999;
  font-family: "Arial", sans-serif;
}

/* Submit Button */

  .form-group.submit-button {
    text-align: center;
  }
  
  .form-group.submit-button input[type="submit"] {
    background-color: #06548b; /* Change to your desired color */
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Arial", sans-serif;
  }
  
  .form-group.submit-button input[type="submit"]:hover {
    background-color: #708fa5; /* Change to your desired hover color */
  }
  
  .form-group.submit-button input[type="submit"]:focus {
    outline: none;
  }


/* Upload Resume */
.upload-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      border: 2px dashed #ccc;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      cursor: pointer;
      position: relative;
    }

.upload-section h2 {
      margin-top: 0;
      margin-bottom: 10px;
    }

.upload-section p {
      margin-top: 0;
      margin-bottom: 20px;
    }

.upload-section input[type="file"] {
      display: none;
    }

.upload-section.highlight {
      border-color: #4CAF50;
      background-color: #f0fff0;
    }

 .upload-section .file-name {
      font-size: 14px;
      margin-top: 10px;
    }

.remove-file {
    color: #FF0000; /* Red color */
    font-weight: bold;
    cursor: pointer;
  }

  .remove-file:hover {
    text-decoration: underline;
  }
    
